@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --width-mobile: 375px;
  --width-desktop: 1440px;

  --accent-dark: hsl(218, 44%, 22%);
  --accent-light: hsl(0, 0%, 100%);
  --accent-secondary-dark: hsl(220, 15%, 55%);
  --accent-secondary-light: hsl(212, 45%, 89%);

  --fw-bold: 700;
  --fw-light: 400;

  --border-rad: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  margin: 0;
  padding: 0;
  background-color: var(--accent-secondary-light);
  font-family: 'Outfit', sans-serif;
}

.qr-code-container {
  width: 20vw;
  min-height: 60vh;
  padding: 1%;
  background-color: var(--accent-light);
  border-radius: var(--border-rad);
  box-shadow: 2px 10px 60px rgba(72, 72, 72, 0.3);
}

#qr-code {
  width: 100%;
  border-radius: var(--border-rad);
}

.qr-code-container h2 {
  margin: 5% auto;
  font-size: 1.25rem;
  width: 75%;
  color: var(--accent-dark);
  font-weight: var(--fw-bold);
}

.qr-code-container p {
  margin: 5% auto;
  width: 75%;
  color: var(--accent-secondary-dark);
  font-weight: var(--fw-light);
  font-size: 1rem;
}
